<div class="container container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="startDate">Начальная дата</label>
                    <input type="text" class="form-control datepicker" id="startDate" placeholder="">
                </div>
                <div class="form-group">
                    <label for="endDate">Конечная дата</label>
                    <input type="text" class="form-control datepicker" id="endDate" placeholder="">
                </div>
                <div class="form-group">
                    <label for="success">Статус</label>
                    <select id="success" class="form-control">
                        <option></option>
                        <option value="1">Успешно выполнен</option>
                        <option value="0">Ошибка выполнения</option>
                    </select>
                </div>
                <button type="button" class="btn btn-default" ng-click="$ctrl.setFilter()">Применить</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.clearFilter()">Очистить фильтр</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <pagination
                    page = "$ctrl.page"
                    page-count = "$ctrl.pageCount"
                    page-clean = "$ctrl.pageClean"
                    on-page-change="$ctrl.setPage($event.page)" />

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Идентификатор</th>
                        <th>Наименование</th>
                        <th>Статус</th>
                        <th>Время</th>
                        <th>Комментарий</th>
                    </tr>
                    <tr ng-repeat="log in $ctrl.logs" class="{{log.success ? 'success' : 'danger'}}">
                        <td>{{log.id}}</td>
                        <td>{{log.text}}</td>
                        <td>{{log.success ? 'Успешно выполнен' : 'Ошибка выполнения'}}</td>
                        <td>{{log.date}}</td>
                        <td>{{log.comment}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
